:root {
    /* 全局配置-----------------------------------------------start----------------------------------------------- */
    /* body字体颜色 */
    --body-font-color: #17233d;
    /* body背景色,菜单图标颜色 */
    --body-bg-color: #fff;
    /* 滚动条背景色 */
    --scroll-bg-color: rgba(0, 0, 0, 0.12);
    /* 全局配置-----------------------------------------------end----------------------------------------------- */

    /* 菜单-----------------------------------------------start----------------------------------------------- */
    /* 整体背景 */
    --site-menu-bg: rgba(29, 30, 35, 1);
    /*菜单图标颜色 */
    --site-icon-color: #fff;
    /*菜单文字颜色 */
    --site-menu-txt: rgba(255, 255, 255, .7);
    /*菜单活跃状态颜色 */
    --site-menu-hover-bg: rgba(16, 17, 23, 1);
    /*菜单活跃状态文字颜色 */
    --site-menu-hover-txt: #fff;

    /* 菜单-----------------------------------------------end----------------------------------------------- */

    /* 首页 */
    /* 读题工具栏边框图片 */
    --home-toolbar-border-img: url("/imgs/toolbar-bg.svg") center / contain no-repeat;
}